<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Php-Vuejs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    
    <div id="app">
        <button @click="nuevoUsuario=true">Nuevo</button>
<table>
    <thead>
        <th>ID</th><th>Codigo</th><th>NOMBRE</th><th>Descripcion</th><th>Precio</th><th>ACCION</th>
    </thead>
    <TBody>
     <tr v-for="product in product">
        <td>{{product.PRODUCT_ID}}</td>
        <td>{{product.CODE}}</td>
        <td>{{product.NAME}}</td>
        <td>{{product.DESCRIPTION}}</td>
        <td>{{product.PRICE}}</td>
        <td>
            <button @click="editarUsuario=true"> EDITAR</button>
            <button @click="eliminarUsuario=true"> ELIMINAR</button>
            
        </td>
    </tr>
    </TBody>
</table>

        <div class="contenedor" v-if="nuevoUsuario">
            <div class="modal">
                <div class="header">
                    <button class="close" @click="nuevoUsuario=false" >X</button>
                    <h1>Nuevo</h1>

                </div>
                <div class="contenido">
                    contenido
                    
                </div>
            </div>
        </div>



        <div class="contenedor" v-if="editarUsuario">
            <div class="modal">
                <div class="header">
                    <button class="close" @click="editarUsuario=false" >X</button>
                    <h1>Editar</h1>

                </div>
                <div class="contenido">
                    contenido
                    
                </div>
            </div>
        </div>




        <div class="contenedor" v-if="eliminarUsuario">
            <div class="modal">
                <div class="header">
                    <button class="close" @click="eliminarUsuario=false" >X</button>
                    <h1>Eliminar</h1>

                </div>
                <div class="contenido">
                    contenido
                    
                </div>
            </div>
        </div>


    </div>

    

<script>
    var app=new Vue({
        el:"#app",
        data:{
            nuevoUsuario:false,
            editarUsuario:false,
            eliminarUsuario:false,
            product:[]
        },
        mounted:function(){
            this.mostrarProduct()   
        },
        methods:{
            mostrarProduct:function(){
                axios.get("http://localhost/vuejs-php/api.php?accion=mostrar")
                .then(function(response) {
                    app.product=response.data.product                    
                })
            }
        }
    })
</script>

</body>
</html>